@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
	font-family: 'TheJamsil5Bold';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    width: 120px;
    height: 60px;
    border: none;
    font-family: 'TheJamsil5Bold';
    border-radius: 10px;
}

.subject {
    background-color: white;
}

.mbtiImage {
    width: 200px;
    height: 300px;

}

/* .imgBox {
    display:flex;
    justify-content: center;
} */

img {
    margin-right: 50px;
}


header {
    /* background-color: aqua; */
    text-align: center;
    font-size: 50px;
}

.bottom {
    display: flex;
    width: 900px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    height: 400px;
    margin-bottom: -200px;
}

.profileBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

a {
    margin-top: -300px;
    margin-bottom: 50px;
}

a {
    transition: transform 0.2s ease;
}

a:hover {
    transform: scale(1.2);
}
